<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .addBtn {
            margin-left: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="title">상품목록</h1>
    <button class="addBtn" onclick="location.href='/addItem'">상품등록</button>

</div>
</body>
</html>