<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품 상세</title>
</head>
<body>
    <table>
        <th>ID</th> <th>상품명</th> <th>가격</th> <th>수량</th>
        <tr th:each="item : ${item}">
            <td th:text="${item.itemId}"></td>
            <td th:text="${item.itemName}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.price}"></td>
        </tr>
    </table>
    <button type="button" th:onclick="|location.href='@{{itemId}/editItem(itemId=${item.itemId})}'|">상품 수정</button>

</body>
</html>