<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 수정</title>
  <style>
    input{
      width: 90%;
    }
  </style>
</head>
<body>
  <header align="center">
    <h1>상품 수정 폼</h1>
  </header>
  <form>
    상품 ID<br>
    <input type="text" name="itemID" disabled th:value="${Item.id}"> <br>
    상품명<br>
    <input type="text" name="itemName" th:value="${Item.name}"> <br>
    가격<br>
    <input type="text" name="itemPrice" th:value="${Item.price}"> <br>
    수량<br>
    <input type="text" name="itemQuantity" th:value="${Item.quantity}"> <br>
    <hr>
    <button>저장</button>
    <button onclick="location.href='/itemListForm'">취소</button>
  </form>
</body>
</html>