<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>상품 등록 폼</h2>
    <h4>상품 입력</h4>
    <form action="itemDetail.html" method="post">
        <div>
            <label for="itemName">상품명</label>
            <input type="text" id="itemName" name="itemName"> </div>
        <div>
            <label for="price">가격</label>
            <input type="text" id="price" name="price">
        </div> <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity"> </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button type="submit">상품 등록</button> </div>
            <div class="col">
                <button onclick="location.href='itemList.html'" type="button">취소</button> </div>
        </div>
    </form>
</body>
</html>